
#searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.searchBox {
    position: relative;
}

.searchBox > img {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
}

.searchBox > input,
.searchBox > select {
    box-sizing: content-box;
    padding: 0.6rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    border: 2px solid grey;
    width: 10rem;
    transition: border-color 0.3s, background-color 0.3s;
}

.searchBox > input:hover,
.searchBox > select:hover,
.searchBox > input:focus,
.searchBox > select:focus {
    border-color: #165CD9;
    background-color: #f0f8ff;
    outline: none;
}

/* Option styling */
.searchBox > select > option {
    color: #000;
}

/* Invalid select styling */
select:invalid,
select option[value=""] {
  color: #999999;
}

/* Button styling */
#findCourtButton {
    background-color: #165CD9;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid #165CD9;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

#findCourtButton:hover {
    background-color: #092d69;
    transform: scale(1.02);
}

#searchDiv {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.grid-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid-container > div{
    width: 356px;
    height: 400px;
}

.grid-container #grid_box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.grid-container #grid_box:hover {
    transform: scale(1.05);
}


.grid-container img {
    width: 100%;
    height: 60%;
    display: block;
    object-fit: cover;
}

#name{
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: 630;
}

.div_loc_typ {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-left: 20px;
}

#icon_loc {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.div_loc_typ td {
    margin-left: 5px;
    font-size: 11px;
}

.div_sport_typ{
    display: flex;
    /* flex-direction: column; */
    align-items: center;  /* Vertically centers the items */
    margin-left: 20px;
    margin-top: 5px;
}

#icon_sport{
    width: 15px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: 15px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    margin-right: 8px; /* Ruang antara ikon dan teks */
}

.div_sport_typ td {
    margin-left: 5px; /* Menghapus margin default dari elemen p */
    font-size: 11px; /* Sesuaikan ukuran teks sesuai kebutuhan */
}

.rating{
    margin-top: 14px;
    margin-left: 28px;
}

.rating #angka{
    font-size: 17px;
    font-weight: 400;
    padding-right: 5px
}

.rating #bintang{
    color: #FFA534;
    font-size: 20px;
}

.price{
    margin-left: 25px;
    font-size: 15px;
    font-weight: 500;
}