body {
    overflow-x: hidden;
}

#header {
    height: 100vh;
    position: relative;
}

#headerText {
    font-size: 5vw;
    font-weight: 700;
    width: 40vw;

    position: absolute;
    top: 5vh;
    left: 5rem;
}

.blueText {
    color: #165CD9;
}

#circle1 {
    background-color: #63B8FF;
    opacity: 0.7;
    width: 45vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;
    top: 50vh;
    left: -5vw;

    z-index: -1;
}

#circle2 {
    background-color: #63B8FF;
    opacity: 0.7;
    width: 55vw;
    height: 50vw;
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;
    top: -70vh;
    left: 50vw;

    z-index: -1;
}

#circle3 {
    background-color: #DAEFFF;
    /* opacity: 0.7; */
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: absolute;
    top: 10vh;
    left: 55vw;

    z-index: -1;
}

#curry {

    width: 30vw;

    position: absolute;
    top: 10vh;
    left: 55vw;
    z-index: -1;
}

#header2 {
    z-index: 3;
    height: 100vh;
    background-color: #F8F8F8;
    display: flex;
}

#header2 > div {
    width: 50%;
    height: 100%;
}

#header2 > div:nth-child(1) {
    /* background-color: black; */
    position: relative;
}

#header2 > div:nth-child(1) > img {
    width: 17vw;
    position: absolute;
}

#card1 {
    top: 3vh;
    left: 10vw;
}

#card2 {
    top: 10vh;
    left: 30vw;
}

#card3 {
    top: 37vh;
    left: 10vw;
}

#card4 {
    top: 42vh;
    left: 30vw;
}

#header2 > div:nth-child(2) {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#form > div {
    width: 20rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#form > div > h1 {
    margin-top: 0;
    text-align: center;
    color: #165CD9;
    font-size: 2.5rem;
}

#form > div > input {
    width: calc(100% - 2px - 1rem);
    border: 1px #9C9C9C solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    transition: border-color 0.3s, background-color 0.3s;
}

#form > div > select {
    width: calc(100%);
    border: 1px #9C9C9C solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    /* padding-right: 1rem; */
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

#form > div > select option {
    color: black;
    font-size: 1rem;
}

#form > div > div {
    background-color: #165CD9;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

#form > div > input:hover, #form > div > select:hover{
    border-color: #165CD9;
    background-color: #f0f8ff;
    outline: none;
}

#form > div > div:hover{
    background-color: #092d69;
}

#header3 {
    height: 100vh;
    background-color: white;
    display: flex;
}

#header3 > div {
    width: 50%;
}

#header3 > div:nth-child(1) {
    width: calc(50% - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: green; */
    padding: 5rem;
}

#header3 > div:nth-child(1) > p {
    margin: 0.5rem;
}

#a {
    font-weight: 700;
}

#b {
    font-weight: 700;
    font-size: 2.5rem;
}

#c {
    font-weight: 700;
    color: #3F3F3F;
}

#header3 > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header3 > div:nth-child(2) > div {
    
    /* background-color: black; */
    width: 27rem;
    height: 17rem;

    display: grid;
    grid-template-columns: 13rem 13rem;
    grid-template-rows: 8rem 8rem;
    gap: 1rem;
}

#header3 > div:nth-child(2) > div > div {
    border-radius: 1rem;
    box-shadow: 0 0 10px grey;
    position: relative;
    /* padding: 1rem; */
}

#header3 > div:nth-child(2) > div > div:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#header3 > div:nth-child(2) > div > div:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#header3 > div:nth-child(2) > div > div:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#header3 > div:nth-child(2) > div > div:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.card-number {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    margin: 0;
}

.card-type {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
    font-size: 1.2rem;
}

#header3 > div:nth-child(2) > div > div > img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}






#header4 {
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#header4 > div {
    background-color: #CBE4FA;
    height: 80%;
    width: 100%;
    box-shadow: 0 0 50px #CBE4FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#header4-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#header4-1 > div {
    background-color: #165CD9;
    width: 7%;
    height: 0.2rem;
}

#header4-1 > p {
    font-size: 3rem;
    font-weight: 700;
}

#header4-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#header4-2 > div {
    width: 18rem;
    height: 8rem;
    display: flex;
    gap: 1rem;
}

#header4-2 > div img {
    width: 2rem;
    height: 2rem;
}



#header4-2 > div > div:nth-child(2) > p:nth-child(1) {
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
}

#header4-2 > div > div:nth-child(2) > p:nth-child(2) {
    margin: 0.5rem 0;
}


#header5 {
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#circle4 {
    width: 100vw;
    height: 100vh;

    background-color: #A8D7FF;
    border-radius: 50%;
    z-index: -1;
    filter: blur(800px);

    position: absolute;
    top: -25rem;

}

#header5 #title {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

#logo-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#logo-container > div {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

#logo-container > div > img {
    width: 10rem;
    height: 5rem;
    object-fit: contain;
}

#circle5 {
    background-color: #165CD9;
    height: 0.5rem;
    border-radius: 50%;
}

#header6 {
    height: 100vh;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header6 > p {
    font-size: 3rem;
    margin-top: 0;
    font-weight: 700;
}

#ppp {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#ppp > div {
    width: 18rem;
    padding: 1rem;
    padding-top: 0;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px grey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle6 {
    background-color: grey;
    height: 0.2rem;
    border-radius: 50%;
    opacity: 0.9;
}

.testimonialName {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nameSingkat {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5  rem;
    font-weight: 700;
}

#nameSingkat1 {
    background-color: #F6933A;
}

#nameSingkat2 {
    background-color: #A497FF;
}
 
#nameSingkat3 {
    background-color: #66C1E0;
}