.inputDiv > input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #9C9C9C;
    font-size: 1.1rem;
}

#updateButton, #logoutButton {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

#updateButton {
    background-color: #165CD9;
    color: white;
}

#logoutButton {
    color: white;
    background-color: black;
}