.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container_div {
    /* width: 88vh;  kalau buat biasa yg bwh buat f11*/
    width: 75vh;
    height: 420px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.grid-container img {
    width: 100%;
    height: 80%;
    display: block;
    object-fit: cover;
}

.grid-container p {
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.button_div{
    display: flex;
    justify-content: center;
}

.button_div button{
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    border: 2px solid #1d4b9a;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    color: white;
    background-color:#165CD9;
    transition: background-color 0.5s ease-in-out,  color 0.5s ease-in-out;
}

.button_div button:hover{
    background-color: #092d69;
    border-color: #165CD9;
    color: rgb(225, 225, 225);
}

