:root {
    --width: 40rem;
    --height: 30rem;
}

.form {
    display: none;

    background-color: white;
    width: var(--width);
    height: var(--height);
    border-radius: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.form > div {
    width: calc(var(--width) / 2);
    height: var(--height);
}

.imageDiv > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    user-select: none;
}

.formDiv {
    padding: 1rem;
}

.formDiv > h1 {
    text-align: center;
}

.formDiv > div {
    /* background-color: blue; */
    margin-bottom: 1rem;
}

.formDiv > div > p {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
}

.formDiv > div > input {
    border: 2px solid #E4E5E7;
    border-radius: 0.5rem;

    width: calc(100% - 1rem - 4px);
    padding: 0.3rem 0.5rem;
}

.formDiv > div > select {
    border: 2px solid #E4E5E7;
    border-radius: 0.5rem;

    width: calc(100%);
    padding: 0.3rem 0.5rem;
}

.submitButton {
    width: 100%;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
}

.submitButton:active {
    background-color: #1C1C1C;
}

#switchToLoginButton {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}