footer {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #165CD9;
    color: white;
    padding: 1rem;
    padding-top: 2rem;

    font-size: 0.75rem;
}

footer > div {
    /* margin: 1rem; */
    display: flex;
    /* background-color: black; */
    gap: 1rem;
}

footer > div > div:nth-child(1) {
    width: 30%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
footer > div > div:nth-child(2) {width: 40%;}
footer > div > div:nth-child(3) {width: 20%;}
footer > div > div:nth-child(4) {width: 10%;}

#footerLogo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
}

.align-img-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.align-img-text > img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

#socialMedia {
    display: flex;
    flex-direction: column;
}

#socialMedia img {
    width: 3rem;
    height: 3rem;
}

a{
    text-decoration: none;
    color: white;
}